/* Estilos globais */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.min-h-screen {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.py-8, .px-6 {
  padding: 2rem;
}

.sm\:w-full {
  width: 100%;
}

/* Container de formulário */
#imglocal {
  background-color: #f5f5f5;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  max-width: 400px;
  width: 100%;
}

/* Estilos de cabeçalho */
.form-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.form-subtitle {
  margin-top: 8px;
  text-align: center;
  color: #555;
}

/* Estilos do formulário */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 1rem;
}

.label {
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 100px;
}

.input:focus {
  border-color: #4f46e5;
  outline: none;
}



.relative {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 8px;
  bottom: 8px;
  color: #888;
  cursor: pointer;
}

/* Estilos do botão */
.submit-button {
  display: inline-flex; 
  justify-content: center;
  align-items: center; 
  width: 30%;
  margin-left: auto; 
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #4f46e5;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container {
  display: flex; 
}


.submit-button:hover {
  background-color: #4338ca;
}

/* Links de termos e login */
.link-text {
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-top: 20px;
}

.link {
  color: #4f46e5;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  color: #4338ca;
}

.Formulario{
  margin-top: -8px;
}

.LocalLogo img {
  width: 100%; 
  height: 93vh; 
  border-radius: 20px;
  object-fit: cover; 
  margin-left: 4vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.cadastro-form-container {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

  /* Título do formulário */
  .cadastro-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  /* Estilo do formulário */
  .cadastro-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }


#nome {
  border-radius: 20px;
}
#email {
  border-radius: 20px;
}

#age {
  border-radius: 20px;
}

#verifyEmail {
  border-radius: 20px;
}

#password {
  border-radius: 20px;
}

